@media  screen and (max-width:1000px){

    // tablet
    .header{
        height:550px;
    }
    
    .sec-1{
        .part-1{
            padding: 2rem 5rem;
            .sect-heading{
                font-size:1.5rem;
                text-align: start-;
            
            }
            .sect-para{
                font-size:0.9rem;
            }
            .sect-link{
                font-size:0.7rem
            }
        }
    }
    .sec-2{
        .part-2{
            padding: 2rem 5rem;
            .sect-heading{
                font-size:1.4rem;
            }
            .sect-para{
                font-size:0.9rem;
            }
            .sect-link{
                font-size:0.7rem
            }
        }
    }
    .sec-3{
        .part-1{
            padding:4rem;
        }
        .part-2{
            padding:4rem;            
        }
    }
    .sec-4{
        .tesmonial-grid{
            margin:0;
        }
        .testmonial-para{
            font-size:1rem;
        }
    }
}

// mobile 

@media screen and (max-width:700px){
    
 
.header{
    background-image: url("images/mobile/image-header.jpg");
    nav{
        .toggle{
            display:block;
            margin-right:1rem;
        }
        .nav-links{
       transition: all 400ms ease-in;
       display:none;
        }
        .active{
            display:flex;
            background-color:#fff;
            height: 280px;
            z-index:10;
            max-width:80%;
            flex-direction: column ;
            justify-content: space-around;
            align-items: center;
            margin-top: 8rem ;
            margin-left:1.5rem;
            margin-right:1.5rem;
            position: absolute;
            inset:0;
            opacity:1;
          
           .links{
            color:var(--Very-dark-grayish-blue);
            font-weight: 500;
            font-size: 1.4rem;
             
           }
           .btn-nav{
               background:var(--Yellow);
               font-weight: 700;
               padding-left:2rem;
               padding-right:2rem;
             
           }
        
                      
        }
        .active::before{
            content: "";
            height: 50px;
            width: 50px;
          
            position: absolute;
            top:-35px;
            right:0;
            border-left:50px solid transparent;
            border-top:50px solid transparent;
            border-right: 40px solid #fff;
        }   
    }
}
.sec-1{
    grid-template-columns:1fr;
    .part-1{
        order:2;
        padding:2rem;
        .sect-heading{
            font-size:2rem;
            text-align:center;
        }
        .sect-para{
            font-size:1.2rem;
            text-align:center;
        }
        .sect-link{
            align-self:center;
            font-size:1rem;
            text-decoration-color: var(--Yellow);
        }
    }
}
.sec-2{
    grid-template-columns:1fr;
.part-2{
    padding:2rem;
img{
    height:auto;
}
      
   .sect-heading{
            font-size:2rem;
            text-align:center;
        }
        .sect-para{
            font-size:1.2rem;
            text-align:center;
        }
        .sect-link{
            align-self:center;
            font-size:1rem;
            text-decoration-color: var(--Soft-red);
        }
    
    }
}

.sec-3{
    grid-template-columns: 1fr;
    .part-1{
        padding:2.3rem;
        .sec-para{
            margin:0;
            font-weight:700;
            font-size:0.95rem;
        }
    }
    .part-2{
        padding:2.3rem;
        .sec-para{
            margin:0;
            font-weight:700;
            font-size:0.95rem;
        }
    }
}

.sec-4{
    .testimonial{
        margin-top:2rem;
        font-size:1rem;
    }
    .testmonial-grid{
        grid-template-columns: 1fr;
        margin:0;
        padding:2rem;
        gap: 100px;
    }
}
.sec-5{
    grid-template-columns: repeat(2,1fr);
}
footer{
    .logo-footer{
        font-size:2rem;
    }
    .footer-link{
        @include flex;
        align-items: center;
        list-style: none;
        justify-content: space-around;
        padding:2rem;
        .footer-links{

            font-size: 1rem;
        }
        .footer-social{
        justify-content: space-around;
        }
    }
    
}
}